/* Footer */
.contentFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 1.5rem 0 1.5rem 0;
  background-color: var(--color-bg-primary);
}

.contentFooter p b {
  font-weight: 700;
}
